<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href="/static/homepage.css">
    <title>Homepage</title>
</head>
<body>
    <h1 class="titulo">Meu primeiro site usando Flask </h1>
    <p class="sub-titulo">Linguagens usadas para o desenvolvimento:</p>
    <ul class="lista">
        <li class="quadrado">Python</li>
        <li class="quadrado">Html</li>
        <li class="quadrado">Flask</li>
    </ul>
</body>
</html>