<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/visitante.css">
    <title>Boas Vindas ao Visitante</title>
</head>
<body>
    <h1 class="titulo">Seja bem vindo(a) {{nome_visitante}}</h1>
    <p class="texto">Meu nome é Camila, estou cursando Análise e desenvolvimento de sistemas e estou aprendendo Python. <br> Esta é a minha primeira aplicação usando Flask.</p>
</body>
</html>